{% extends 'base_auth.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
        <h3 class="py-4 text-center">Forgate Password</h3>
            {% include '../partials/messages.html' %}
            <form method="post" class="">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="reset_email" placeholder="name@example.com">
                    <label for="reset_email">Email address</label>
                    <div class="invalid-feedback" id="email-check-msg">Please enter a message in the textarea.</div>
                </div>
                <button class="btn btn-primary mb-4">Reset</button>
                <h6 class="text-center">Do you have an account? <a href="{% url 'login' %}">Login</a></h6>
                <h6 class="text-center">Don't have an account? <a href="{% url 'register' %}">Register</a></h6>
            </form>
        </div>
   </div>
{% endblock  %}